<settings>
	<setting propertyKey="@Properties.AppVersion" title="@Strings.AppVersionTitle">
		<settingConfig type="alphaNumeric" readonly="true"/>
	</setting>

	<setting propertyKey="@Properties.enhancedTouch" title="@Strings.enhancedTouch">
		<settingConfig type="boolean" required="true"/>
	</setting>

	<setting propertyKey="@Properties.HansshowFrunk" title="@Strings.HansshowFrunk">
		<settingConfig type="boolean" required="true"/>
	</setting>

	<setting propertyKey="@Properties.screenBottomLeft" title="@Strings.screenBottomLeft">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="1">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="2">@Strings.menu_label_set_temp</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.screenBottomRight" title="@Strings.screenBottomRight">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="1">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="2">@Strings.menu_label_set_temp</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.NumberOfSlots" title="@Strings.number_of_slots">
		<settingConfig type="numeric" min="1" max="16" required="true"/>
	</setting>

	<setting propertyKey="@Properties.option_slot1" title="@Strings.OptionMenu_1">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot2" title="@Strings.OptionMenu_2">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot3" title="@Strings.OptionMenu_3">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot4" title="@Strings.OptionMenu_4">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot5" title="@Strings.OptionMenu_5">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot6" title="@Strings.OptionMenu_6">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot7" title="@Strings.OptionMenu_7">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot8" title="@Strings.OptionMenu_8">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot9" title="@Strings.OptionMenu_9">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot10" title="@Strings.OptionMenu_10">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot11" title="@Strings.OptionMenu_11">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot12" title="@Strings.OptionMenu_12">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot13" title="@Strings.OptionMenu_13">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot14" title="@Strings.OptionMenu_14">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot15" title="@Strings.OptionMenu_15">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.option_slot16" title="@Strings.OptionMenu_16">
		<settingConfig type="list">
			<listEntry value="0">@Strings.menu_label_defrost</listEntry>
			<listEntry value="1">@Strings.menu_label_set_seat_heat</listEntry>
			<listEntry value="2">@Strings.menu_label_set_steering_wheel_heat</listEntry>
			<listEntry value="3">@Strings.menu_label_set_charging_limit</listEntry>
			<listEntry value="4">@Strings.menu_label_set_charging_amps</listEntry>
			<listEntry value="5">@Strings.menu_label_start_stop_charging</listEntry>
			<listEntry value="6">@Strings.menu_label_set_temp</listEntry>
			<listEntry value="7">@Strings.menu_label_adjust_departure</listEntry>
			<listEntry value="8">@Strings.menu_label_sentry</listEntry>
			<listEntry value="9">@Strings.menu_label_honk</listEntry>
			<listEntry value="10">@Strings.menu_label_open_frunk</listEntry>
			<listEntry value="11">@Strings.menu_label_open_trunk</listEntry>
			<listEntry value="12">@Strings.menu_label_open_port</listEntry>
			<listEntry value="13">@Strings.menu_label_vent</listEntry>
			<listEntry value="14">@Strings.menu_label_homelink</listEntry>
			<listEntry value="15">@Strings.menu_label_toggle_view</listEntry>
			<listEntry value="16">@Strings.menu_label_swap_frunk_for_port</listEntry>
			<listEntry value="17">@Strings.menu_label_datascreen</listEntry>
			<listEntry value="18">@Strings.menu_label_select_car</listEntry>
			<listEntry value="19">@Strings.menu_label_reset</listEntry>
			<listEntry value="20">@Strings.menu_label_wake</listEntry>
			<listEntry value="21">@Strings.menu_label_refresh</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.refreshToken" title="@Strings.setting_token_label" prompt="@Strings.setting_token_prompt">
		<settingConfig type="alphaNumeric" />
	</setting>
</settings>
